{% extends 'layout/base.html.twig' %}

{% block title 'Edit profile'  %}

{% block body %}
<div class="row">
 	<div class="col-md-6 mx-auto text-center">
 		<p>
			<h1 class="my-5">  Profile</h1>
            	<img src="{{ app.user.avatar(75) }}" class="shadow rounded-circle" alt=" {{app.user.fullName}} avatar " />
                  <p  class="pd-2 pb-2 text-muted lead" >   {{app.user.email}}</p>
                 <p  class="pd-2 pb-2 text-muted" > <h2>  {{app.user.fullName}} </h2></p>
				  <p  class="pd-2 pb-2 text-muted" > <small><i> &#8986;</i> Account created on  {{app.user.createdAt|date('d/m/y') }}</small></p>
                 
                  <p>
                  <a  href="{{path('app_account_edit')}}">Edit account </a> |<a class="" href=""> Change password </a>
                </p>
		</p>
		
	</div>
</div>

{% endblock %}
