{% extends 'layout/base.html.twig' %}

{% block title %}Log in!{% endblock %}

  {% block stylesheets %}
        	 {{parent()}} 
            <link href="{{ asset('assets/css/login.css') }}" rel="stylesheet">    
            
        {% endblock %}

{% block body %}

    {% if error %}
        <div class=" alert alert-danger rounded">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

     
    {% if app.user %}
        <div class="mb-3 alert alert-info">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    
    <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-6 mx-auto">
                    <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5">Please Sign In</h5>
                        <form method="post">

                        
                        <div class="form-floating mb-3">
                            <input type="email" name="email" value="{{last_username}}"  id="email" class="form-control" id="floatingInputEmail" required autofocus>
                            <label for="email">Email address</label>
                        </div>

                        <hr>

                        <div class="form-floating mb-3">
                            <input type="password" name="password"  id="password"  class="form-control" id="floatingPassword" required >
                            <label for="password">Password</label>
                        </div>

                         <input type="hidden" name="_csrf_token"   value="{{csrf_token('authenticate')}}">
                       
                        <div class="form-check checkbox mb-2 d-flex justify-content-between">
                            <label class="form-check-label" for="flexCheckDefault">
                            <input type="checkbox" class="form-check-input" name="_remember_me"> 
                             Remember me </label>
                            <a class="" href="{{ path('app_forgot_password_request') }}">Forgot password</a>
                        </div>

                        <div class="d-grid mb-2">
                            <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">login</button>
                        </div>

                        <a class="d-block text-center mt-2 small" href="{{ path('app_register') }}">No account? Sign Up</a>

                        <hr class="my-2">

                        <div class="d-grid mb-2">
                            <button class="btn btn-lg btn-google btn-login fw-bold text-uppercase" type="submit">
                            <i class="fab fa-google me-2"></i> Sign in with Google
                            </button>
                        </div>

                        <div class="d-grid">
                            <button class="btn btn-lg btn-facebook btn-login fw-bold text-uppercase" type="submit">
                            <i class="fab fa-facebook-f me-2"></i> Sign in with Facebook
                            </button>
                        </div>

                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#<label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        
    #}

   
</form>
{% endblock %}
