
{% extends 'layout/base.html.twig' %}

{% block name program.name %}

{% block body %}
	<div  class="row ">
		<h2  class=" text-break text-center"> Toutes les editions </h2>
		 </div>
	<div class="row mb-5">
			
		<div  class=" col-md-3 ">

			<article  class="program p-3  bg-white rounded shadow" >
					<div  class="mw-100  rounded-top overflow-hidden" >
						<img src="{{ (program.imageName ? vich_uploader_asset(program) : asset('uploads/programs/program_default.PNG'))| imagine_filter('advert_filter_square_medium') }}" alt="{{ program.name }}" class="w-100">
							
					</div>
						<h1  class="h5  pt-1">  <a href="{{path('app_programs_show', {id: program.id})}}" class=" text-muted text-decoration-none text-secondary" >  {{program.name}} </a> </h1> 
						
						<p  class="pd-2 pb-2 text-muted" >  Submitted at <time datetime= "{{program.createdAt|date('Y-m-d H:m:s')}}">{{program.createdAt|date('d-m-Y')}} </time> by user </p>
						  <p  class="pd-2 pb-2 text-muted" >  or  {{program.createdAt|ago}} by  AUTHOR NAME</p>
						  <p  class="pd-2 pb-2 text-muted" > 
								{% if  program.interactive  %} 
									<label><input type=checkbox checked name=cheese > Intectactif</label>
								{% endif  %}
							</p>
				<p  class=" text-break "> {{program.description}} </p>
					<a class="btn btn-light" href="{{path('admin_programs_edit', {id: program.id})}}"> Edit </a> |
					<a class="btn btn-light" href="del"  onclick= "event.preventDefault() ; confirm('Are you sure ?') && document.getElementById('js-programs-delete-form').submit();"> Delete</a>
				<form id="js-programs-delete-form" action="{{path('admin_programs_delete', {id: program.id})}}" method="post" style="display: none;">
					<input type="hidden" name="{{ csrf_token('programs_deletion' ~ program.id ) }}" id="">
					<input type="hidden" name="_method" value="DELETE">

				</form> |
				 <a href="{{path('app_programs')}}" class=" text-muted text-decoration-none text-secondary" >  Go back!</a> 
				<div class=" ">			
				</div>
			</article>
 		</div>
		 <div  class="col-md-9 ">
		 	<table>
				<tr>
					{# sorting of properties based on query components #}
					
					
					<th{% if pagination.isSorted(['p.title']) %} class="sorted"{% endif %}>
						{{ knp_pagination_sortable(pagination, 'Release', ['p.title']) }}
					</th>
					<th{% if pagination.isSorted('p.createdAt') %} class="sorted"{% endif %}>
						{{ knp_pagination_sortable(pagination, 'createdAt', 'p.createdAt') }}
					</th>
					<th>
						File
					</th>
				</tr>

				{# table body #}
				{% for article in pagination %}
					<tr {% if loop.index is odd %}class="color"{% endif %}>
						<td><a href="{{path('app_podcasts_show', {id: article.id})}}">{{ article.title}}</a></td>
						
						<td>{{ article.createdAt | date('Y-m-d') }}</td>
						<td>
							<audio controls autoplay muted  src="{{asset('uploads/podcasts/'~article.fileName)}}" type="audio/mp3" controls="controls">
								Your browser does not support the audio element.
							</audio>

						</td>
					</tr>
				{% endfor %}
			</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
		 </div>
		 
		 

 </div>
{% endblock %}