<div id="header-wrapper"  >
					<header id="header" class="container">

						<!-- Logo -->
							<div id="logo" class="">
								<a href="{{ path('app_home') }}">
								<img class="img-fluid" src="{{asset('images/big_logo.gif')}}" alt="RIE" title="RIE" />
								</a>
							</div>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="{% if app.request.attributes.get('_route') == "app_home" %}current{% endif %}" >
										<a href="{{ path('app_home') }}">Welcome</a>
									</li>
									<li>
										<a href="#">Menu</a>
										<ul>
											<li>
												<a href="{{ path('app_news_letter') }}">News</a>
												{% if is_granted('ROLE_ADMIN') %}
												<ul>
													<li><a href="{{ path('admin_adverts_create') }}">New</a></li>				
												</ul>
												{% endif  %}
											</li>
											<li>
												<a href="{{ path('app_programs') }}">Programs</a>
												{% if is_granted('ROLE_ADMIN') %}
												<ul>
													<li><a href="{{ path('admin_programs_create') }}">New</a></li>
												</ul>
												{% endif  %}
											</li>
											<li>
												<a href="{{ path('app_category') }}">Tags</a>
												{% if is_granted('ROLE_ADMIN') %}
												<ul>
													<li><a href="{{ path('admin_category_create') }}">New</a></li>
												</ul>
												{% endif  %}
											</li>
											<li><a href="{{ path('app_policy') }}">Policy</a></li>
											{% if is_granted('ROLE_ADMIN') %}
											<li><a href="{{ path('admin_podcasts_create') }}">Podcast</a></li>
											<li><a href="{{ path('admin_verses_create') }}">Verse</a></li>
											{% endif  %}
											<li>
												<a href="{{ path('app_videos') }}">Meditations</a>
												{% if is_granted('ROLE_ADMIN') %}
												<ul>
													<li><a href="{{ path('admin_videos_create') }}">New</a></li>				
												</ul>
												{% endif  %}
											</li>
											
										</ul>
									</li>
								{% if  app.user %} 
									<li class="{% if app.request.attributes.get('_route') == "app_account" %}current{% endif %}" ><a href="{{ path('app_account') }}">Account</a></li>
									<li class="{% if app.request.attributes.get('_route') == "app_logout" %}current{% endif %}"><a href="#" onclick="event.preventDefault(); document.getElementById('js-logout-form').submit()">Logout</a></li>
									<form id="js-logout-form" action="{{ path('app_logout') }}" method="POST" style="display:none;">
										<input type="hidden" name="csrf_token" value="{{ csrf_token('signout') }}">
									</form>
						
								{% else  %}
									<li class="{% if app.request.attributes.get('_route') == "app_login" %}current{% endif %}" ><a href="{{ path('app_login') }}">login</a></li>
									<li class="{% if app.request.attributes.get('_route') == "app_register" %}current{% endif %}"><a href="{{ path('app_register') }}">Register</a></li>
							
								{% endif  %}
								<li class="{% if app.request.attributes.get('_route') == "app_contact" %}current{% endif %}" ><a href="{{ path('app_contact') }}">Contact</a></li>
								</ul>
							</nav>
							<div class="hover01 column">
 								 <div>
									<figure>
											<img src="{{asset('images/banner.jpg')}}"  class="img-fluid"  class="m-0 p-0" id="banner">
									</figure>
								</div>
							</div>
							<div class="container-fluid mt-5 mb-3 pt-3">
							<div class="container">
								<div class="row align-items-center">
									<div class="col-12">
								
													  {{  verseService.index()|slice(95,verseService.index()|length)|raw }}


									</div>
								</div>
							</div>
							</div>



							
											
					</header>
					 
					
</div>
