{% extends 'layout/base.html.twig' %}
{% block title podcast.title %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/media.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
   
    
         {% set interactive = true %}
    
    <div class="music-player row">
                                <div class="player-main">
                                    <div class="main-current">
                                        <div class="current-keyvisual">
                                            <img src="{{ (podcast.imageName ? vich_uploader_asset(podcast) : asset('{podcast.program.imageName}'))| imagine_filter('podcast_filter_square_small') }}" alt="{{ podcast.title }}" />
                                        </div>
                                        <div class="current-info">
                                            <h1>
												{{ podcast.title }}
                                            </h1>
											<h3>
												{{ podcast.author }}
                                            </h3>
                                            <p>
                                                Submitted at 
												<time datetime="{{ podcast.createdAt|date('Y-m-d H:m:s') }}">
													{{ podcast.createdAt|date('d-m-Y') }}
												</time>
                                            </p>
                                        </div>
                                    </div>
                                   
									<ul class="list-inline justify-content-around">
										<li class="main-control">
											<audio controls autoplay  src="{{ asset('uploads/podcasts/'~podcast.fileName) }}" type="audio/mp3" controls="controls">
												Your browser does not support the audio element.							
											</audio>
										</li>
											{% if is_granted('ROLE_ADMIN') %}
											<li>
												<a href="{{ path('admin_podcasts_edit', {id: podcast.id}) }}" class=" text-muted text-decoration-none text-secondary btn btn-sm btn-warning">
													<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
												</a>
											</li>
											<li>
												<a class="btn btn-sm btn-danger" href="del" onclick="event.preventDefault() ; confirm('Are you sure ?') && document.getElementById('js-podcasts-delete-form').submit();">
													<i class="fa fa-trash m-1" aria-hidden="true"></i>
												</a>
											</li>
											<form id="js-podcasts-delete-form" action="{{ path('admin_podcasts_delete', {id: podcast.id}) }}" method="post" style="display: none;">
												<input type="hidden" name="csrf_token" value="{{ csrf_token('podcasts_deletion' ~ podcast.id ) }}" id="">
													<input type="hidden" name="_method" value="DELETE">
											</form>
											{% endif %}
											<li>
													<a href="{{ path('app_programs_show', {id: podcast.program.id}) }}" class=" text-muted text-decoration-none text-secondary btn btn-sm btn-info">
														Go back!
													</a>
											</li>
											<li>
													<a href="#" class=" text-muted text-decoration-none text-secondary btn btn-sm btn-outline-primary" item-id="{{ podcast.id }}" data-reply>
														Comment
														
													</a>
											</li>
								</ul>
								<div class="text-center">
												<span class="date">
													<span class="month">
														{{ "now"|date('F d, Y') }}
														<span>
															y
														</span>
													</span>
												</span>
												<ul class="stats  mb-40 list-inline justify-content-evenly">
													<li>
														<a href="#footer" class="icon fa-comment">
															{{ podcast.comments|length }}
														</a>
													</li>
													<li>
														<a href="#" class="icon fa-heart"></a>
													</li>
													<li>
														<a href="#" class="icon brands fa-twitter"></a>
													</li>
													<li>
														<a href="#" class="icon brands fa-facebook-f">
															1
														</a>
													</li>
												</ul>
								</div>
                                </div>
								
                                <ul class="player-list">
								{% for comment in podcast.comments %}
                                    <li>
                                        <img class="list-cover" src={{ comment.author.avatar(75)}} />
                                        <div class="list-info">
                                            <div class="info-title">
											{{ comment.content}}
                                            </div>
                                            <div class="info-artist">
											{{ comment.author.firstName}}
                                            </div>
                                        </div>
                                    </li>
								{% endfor %}
                                 
                                </ul>
    </div>
{% endblock %}
                        