{% extends 'layout/base.html.twig' %}

{% block stylesheets %}
	{{parent()}}
        <link href="{{ asset('assets/css/slider.css') }}" rel="stylesheet">    
           
{% endblock %}


{% block body %}



	{% if  adverts|length > 0  %} 
		<h1 class="mb-4 text-center text-muted" > {{ pluralize(adverts|length, 'Annonce' , 'Annonces')  }}  </h1>
		<div class="container">
			
			<div class="slideshow-container mx-auto">
						{% for advert in adverts %}
							<div class="mySlides fade">    
								<div class="numbertext">  {{ loop.index }} /{{ loop.length }}    </div>
								<img src="{{ (advert.imageName ? vich_uploader_asset(advert) : asset('uploads/adverts/placeholder.jpg'))| imagine_filter('advert_filter_square_medium') }}" alt="{{ advert.title }}" style="width:60% ;height: auto;">
								<a href="{{path('app_adverts_show', {id: advert.id})}}"> 
									<div class=" mb-18 mx-auto text-muted text"> <b> {{ advert.title }} </b> Submitted at {{advert.createdAt|ago}} By {{ advert.author.fullName }}   </div>
								</a>
								{#
								<div  class="mw-100 rounded-top overflow-hidden" >
									<a href="{{path('app_adverts_show', {id: advert.id})}}"> 
										<img src="{{ (advert.imageName ? vich_uploader_asset(advert) : asset('uploads/adverts/placeholder.jpg'))| imagine_filter('advert_filter_square_medium') }}" alt="{{ advert.title }}" class="w-100 ">
									</a>
								</div>
									<h2  class="h5 pl-3 pt-1">  <a href="{{path('app_adverts_show', {id: advert.id})}}" class=" text-muted text-decoration-none text-secondary" >  {{advert.title}} </a> </h2> 
							
									<p  class="pd-2 pb-2 text-muted" >  Submitted at {{advert.createdAt|ago}} by {{advert.author.fullName}}</p>

								#}
							</div>
						{% endfor  %}

							<a  class="prev" onclick="plusSlides(-1)" > &#10094; </a>
							<a  class="next" onclick="plusSlides(1)" > &#10095; </a>

						<br>
			</div>
				<div style="text-align: center">
						{% for advert in adverts %}
							<span  class="dot" onclick="currentSlides( {{ loop.index }} )"></span>
						{% endfor  %}
				</div>
					
			
			
		</div>	

	{% endif  %}
{% endblock %}
{% block javascripts %}
	{{parent()}}
	<script src="{{asset('assets/js/slider.js')}}"></script>
{% endblock %}