
{% extends 'layout/base.html.twig' %}

{% block title advert.title %}

{% block body %}
	<div class="row mb-5">
			
			<div  class=" col-md-6 mx-auto">

	<article  class="advert p-3  bg-white rounded shadow" >
					<div  class="mw-100  rounded-top overflow-hidden" >
						<img src="{{ (advert.imageName ? vich_uploader_asset(advert) : asset('uploads/adverts/placeholder.jpg'))| imagine_filter('advert_filter_square_medium') }}" alt="{{ advert.title }}" class="w-100">
							
					</div>
						<h1  class="h5  pt-1">  <a href="{{path('app_adverts_show', {id: advert.id})}}" class=" text-muted text-decoration-none text-secondary" >  {{advert.title}} </a> </h1> 
						
						<p  class="pd-2 pb-2 text-muted" >  Submitted at <time datetime= "{{advert.createdAt|date('Y-m-d H:m:s')}}">{{advert.createdAt|date('d-m-Y')}} </time> </p>
						  <p  class="pd-2 pb-2 text-muted" >  or  {{advert.createdAt|ago}} by  {{advert.author.fullName}}</p>
						

				<p  class=" text-break "> {{advert.content}} </p>
				{% if is_granted('ROLE_ADMIN') %}
					<a class="btn btn-warning" href="{{path('admin_adverts_edit', {id: advert.id})}}"> Edit </a> |
					<a class="btn btn-danger" href="del"  onclick= "event.preventDefault() ; confirm('Are you sure ?') && document.getElementById('js-adverts-delete-form').submit();"> Delete</a>
				
					<form id="js-adverts-delete-form" action="{{path('admin_adverts_delete', {id: advert.id})}}" method="post" style="display: none;">
						<input type="hidden" name="{{ csrf_token('adverts_deletion' ~ advert.id ) }}" id="">
						<input type="hidden" name="_method" value="DELETE">
					</form> |
				{% endif %}
				 <a href="{{path('app_adverts')}}" class="btn  btn-secondary" >  Go back!</a> 
			<div class=" ">			
				
				
				
			</div>
			</article>
 </div>
 </div>
{% endblock %}