<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title 'RIE FM'  %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		
        {% block stylesheets %}
        	{# {{encore_entry_link_tags('main')}} #}
           <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

         <link href="{{ asset('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
           <link href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css') }}" rel="stylesheet"> 
         <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet">    
           
        {% endblock %}

    
    </head>

    <body class="is-preload homepage">
         {{ include('layout/partials/flash_messages.html.twig') }}
        <div id="page-wrapper">
          {% block header %}
             <!-- Header -->
				  {% include 'layout/partials/nav.html.twig' %}
           {% endblock %}
             <main role="main"  class="container">
             {% block body %}
                <!-- Banner -->
                   {% include 'layout/partials/banner.html.twig' %}
            {% endblock %}
            </main>
         {% block footer %}
             <!-- Header -->
				  {% include 'layout/partials/footer.html.twig' %}
           {% endblock %}
        </div>

            {% block javascripts %}
             <script src="{{asset('assets/js/jquery.min.js')}}"></script>
              <script src="{{asset('assets/js/jquery.dropotron.min.js')}}"></script>
              <script src="{{asset('assets/js/browser.min.js')}}"></script>
                <script src="{{asset('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js')}}"></script>
              <script src="{{asset('assets/js/breakpoints.min')}}.js"></script>
               <script src="{{asset('assets/js/util.js')}}"></script>
              <script src="{{asset('assets/js/main.js')}}"></script>


             
             
              
             
              
              

              
            
             
                 <!-- Scripts -->

			  
			{# <script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script> #}
       
        {% endblock %}
    </body>


</html>
